.add-cookie{
    margin-top:40px;
    margin-bottom:40px;
    margin-left:85%;
    button{
        padding-left: 10px;
        padding-right:10px;
        background-color: black;
        height:40px;
        font-size:18px;
        color:white;
    }
    button:hover{
        background-color: #cc6600;
    }
}

.message{
    text-align:center;
    margin-top:50px;
    color:white;
    font-size:30px;
}


.btn.payer{
    position:absolute;
    top:-10px;
    right:30px;
    color:white;
    background-color:inherit;
    border : solid 1px white;
    }
    .btn.payer:hover{
    background-color: #cc6600;
    border:none;
    }



.cookie{
    width:95%;
    height:90%;
    border:black solid 1px;
    background-color: black;
    color:white;
    .title{   
        text-align:center;
        font-size:18px;
        text-transform:uppercase;
    }
    mat-card-content{
        height: 75%;
        img{
            margin-top:10px;
            display: block;
            margin-left:auto;
            margin-right: auto;
            width:100%;
            height: 100%;
        }
        p{
            font-size:18px;
            margin-top:auto;
            margin-bottom:auto;
        }
    }
    mat-card-actions{
        left:20px;
        position:absolute;
        bottom:20px;
    }
    button{
        margin-right:20px;
        background-color:inherit;
        color:white;
        border:none;
    }
    
    .favorite-selected{
        color:red;
    }
} 